version: '3'

services:

  nginx:
    image: nginx:1.25.4
    container_name: simple_retro_nginx
    hostname: nginx
    restart: always
    ports:
      - "8443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /opt/simple-retro/cert/cert.pem:/etc/ssl/retro-cert.pem:ro
      - /opt/simple-retro/cert/key.key:/etc/ssl/retro-key.key:ro
      - static:/etc/nginx/html/:ro

    depends_on:
      - backend
      - frontend

  backend:
    image: ghcr.io/simple-retro/backend:v1.3.1
    container_name: simple_retro_backend
    hostname: simple-retro
    restart: always

    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 500M
        reservations:
          cpus: '0.8'
          memory: 200M

    ports:
      - 127.0.0.1:7878:7878

    volumes:
      - /opt/simple-retro/var/database.db:/app/database.db

  frontend:
    image: ghcr.io/simple-retro/frontend:v1.3.0
    container_name: simple_retro_frontend
    hostname: simple-retro

    volumes:
      - static:/static/

    command: "rsync -a --del /app/ /static/"

volumes:
  static:
